<div style="display: flex; align-items: center;">
 <h4><%= link_to "Home", root_path %></h4>
 <h4 style="margin-left: 20px;">
 <% if current_user %>
 <%= button_to "Sign Out", destroy_user_session_path, method: 'delete' %>

 <%= button_to "Sign up", new_user_registration_path %>
 <%= button_to "Log in", new_user_session_path %>
 <% end %>
 </h4>
</div>